body {
    background-color: blue;
}
h1 {
    font-size: 280%;
    margin-top: 20%;
    margin-left: 20%;
    color: aqua;
    text-shadow: 2px  2px 2px #667ffce2,
                 2px -2px 2px #667ffce2,
                -2px  2px 2px #667ffce2,
                -2px -2px 2px #667ffce2;
}
ul {
    font-size: 180%;
    margin-left: 30%;
    color: #FFFFFF;
}
h3 {
    font-size: 210%;
    color: beige
}
.Clip {
    background-color: rgba(84, 8, 156, 0.694);
    color: rgb(137, 0, 0);
    font-size: x-large;
    font-family: cursive;
    border-radius: 10px;
    border-color: rgb(145, 55, 255);
}
.Zurück {
    margin-top: 5%;
    background-color: aquamarine;
    font-size: 1.2em;
    color: darkgoldenrod;
    border-radius: 10px
}
}
