body {
    background-color: rgb(79, 79, 252);
}
h4 {
    font-size: 240%;
    color: #FFF;
    margin-left: 30%;
}
p {
    font-size: 130%;
}
.Hartrumpf {
    font-size:160%;
    color: rgb(255, 83, 83)
}
.Zurück {
    margin-top: 10%;
    background-color: aquamarine;
    font-size: 1.6em;
    color: darkgoldenrod;
    border-radius: 10px;
}
